* {
    max-width: 100%;
    margin: 0;
}

body {
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

h1,
h2,
h3 {
    font-weight: 900;
}

.bg-dark {
    background-color: #1A1A1A !important;
}


/* Utilidades */

.btn-color {
    background-color: #FD0404;
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.btn-color:hover {
    cursor: pointer;
    background-color: #1A1A1A;
    color: #ffffff;
}

.btn-invi {
    background-color: rgba(0, 0, 0, 0);
    color: #FD0404;
    border: none;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}

<<<<<<< HEAD
.contenedor {
    margin: 0;
    padding: 0;
}
=======
>>>>>>> 620ebc502159f945e9854ad09ed75e49842e2963


/* Index */

.navbar {
    padding: 1rem;
}

.bg-nav {
    background-color: #ffffff;
}

nav a {
    color: #FD0404 !important;
    text-decoration: none;
}

nav a:hover {
    color: #1A1A1A !important;
}

.bg-ind {
    background-image: url(../img/bg-01.jpg);
    height: 750px;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-toggle {
    font-weight: 700;
}

.dropdown-toggle:hover {
    color: #1A1A1A;
}

.dropdown-item {
    color: #FD0404;
}

.dropdown-item:hover {
    background-color: #1A1A1A !important;
    color: #ffffff;
}

/* Tarjetas conocenos */

<<<<<<< HEAD
=======
.tar-img {
    padding: 3rem 3rem 1rem 3rem;
}

.tarjetas h3 {
    font-weight: 900;
    text-align: center;
    color: #1A1A1A;
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

.tarjetas p {
    text-align: justify;
    font-size: 0.8;
}


>>>>>>> 620ebc502159f945e9854ad09ed75e49842e2963
/* Footer */

.footer {
    padding: 2rem;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: #1A1A1A;
}

.contac a {
    text-decoration: none;
    color: #fff;
}

.contac a:hover {
    color: #FD0404;
    text-decoration: none;
}

.redes i {
    color: #fff;
    font-size: 1.5rem;
}

.redes i:hover {
    color: #FD0404;
    font-size: 1.8rem;
}