* {
    max-width: 100%;
    margin: 0;
}

body {
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

h1,
h2,
h3 {
    font-weight: 900;
}

p {
    font-weight: 400;
    font-size: 1rem;
}

.bg-dark {
    background-color: #1A1A1A !important;
}


/* Utilidades */

.btn-color {
    background-color: #1A1A1A;
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.btn-color:hover {
    cursor: pointer;
    background-color: #3d3d3d;
    color: #ffffff;
}

.btn-invi {
    background-color: rgba(0, 0, 0, 0);
    color: #FD0404;
    border: none;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}

.contenedor {
    margin: 0;
    padding: 0;
}

.aa a {
    text-decoration: none;
    color: #fff;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}


/* Index */

.navbar {
    padding: 1rem;
}

.bg-nav {
    background-color: #ffffff;
}

nav a {
    color: #FD0404 !important;
    text-decoration: none;
}

nav a:hover {
    color: #1A1A1A !important;
}

.bg-ind {
    background-image: url(../img/bg-01.jpg);
    height: 750px;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-toggle {
    font-weight: 700;
}

.dropdown-toggle:hover {
    color: #1A1A1A;
}

.dropdown-item {
    color: #FD0404;
}

.dropdown-item:hover {
    background-color: #1A1A1A !important;
    color: #ffffff;
}


/* Tarjetas conocenos */


/* Footer */

.footer {
    padding: 2rem;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: #1A1A1A;
}

.contac a {
    text-decoration: none;
    color: #fff;
}

.contac a:hover {
    color: #FD0404;
    text-decoration: none;
}

.redes i {
    color: #fff;
    font-size: 1.5rem;
}

.redes i:hover {
    color: #FD0404;
    font-size: 1.8rem;
}


/* Productos */

.precio-productos {
    color: #FD0404;
}


/* Login */

.bg-login {
    background-image: radial-gradient(circle at 79% 30%, rgba(230, 230, 230, 0.04) 0%, rgba(230, 230, 230, 0.04) 50%, rgba(12, 12, 12, 0.04) 50%, rgba(12, 12, 12, 0.04) 100%), radial-gradient(circle at 53% 89%, rgba(210, 210, 210, 0.04) 0%, rgba(210, 210, 210, 0.04) 50%, rgba(24, 24, 24, 0.04) 50%, rgba(24, 24, 24, 0.04) 100%), radial-gradient(circle at 92% 89%, rgba(17, 17, 17, 0.04) 0%, rgba(17, 17, 17, 0.04) 50%, rgba(205, 205, 205, 0.04) 50%, rgba(205, 205, 205, 0.04) 100%), radial-gradient(circle at 21% 13%, rgba(124, 124, 124, 0.04) 0%, rgba(124, 124, 124, 0.04) 50%, rgba(243, 243, 243, 0.04) 50%, rgba(243, 243, 243, 0.04) 100%), radial-gradient(circle at 77% 0%, rgba(16, 16, 16, 0.04) 0%, rgba(16, 16, 16, 0.04) 50%, rgba(130, 130, 130, 0.04) 50%, rgba(130, 130, 130, 0.04) 100%), linear-gradient(320deg, rgb(26, 26, 26), rgb(253, 4, 4));
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.bg-formulario {
    background-color: rgba(39, 39, 39, 0.563);
    min-height: 100vh;
    padding: 5rem;
}


/* .bg-formulario img {
    width: 90%;
    margin-bottom: 3rem;
} */

.bg-formulario label {
    color: #fff;
}

.login-form {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 1.5px solid #ffffff;
    width: 100%;
    height: 40%;
    padding: 0.5rem;
    outline: none;
}


/* Proveedores */

.bg-proveedor {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.bg-proveedor img {
    filter: opacity(50%);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    object-fit: cover;
}

.bg-proveedor h1 {
    position: absolute;
    color: #1A1A1A;
}